.summary {
  margin-top: 2rem;

  background-color: #f2f2f2;
  &__header {
    background-color: #033c73;
    color: #f2f2f2;
    padding: 1.8rem 2rem;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  &__text {
    padding: 0 2rem;
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: darkcyan;
  }

  &__list {
    padding: 0 2rem 2rem;
  }

  &__item {
    list-style: none;
    margin-top: 0.8rem;
    padding: 0.6rem;
    border-bottom: 1px solid #b8b5b5;
    display: flex;
    justify-content: space-between;
  }

  &__item-name {
    font-size: 13px;
    font-weight: 600;

    color: darkgrey;
    &--total {
      font-size: 14px;
    }
  }

  &__item-value {
    font-size: 15px;
    font-weight: 700;
    color: darkslategrey;
    padding: 0 1rem;
    &--total {
      font-size: 16px;
    }
  }

  &__btn {
    margin: 3rem 0 1rem;
    width: 100%;
    color: #fff;
    background-color: darkcyan;
    padding: 1.2rem;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: all .2s;
    &:hover {
      background-color: teal;
    }
  }
}
