.stepper {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;

  &__step {
    flex: 1 auto;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__btn-step {
    outline: none;
    border: none;
    width: 100%;
    padding: 1.8rem;
    color: darkblue;
    background-color: #e9e9e9;
    font-size: 14px;
    font-style: italic;
    transition: all .3s;
  }
}

.active {
  background-color: #033c73;
  color: #e9e9e9;
  font-weight: 600;
}

.step-content {
  padding: 2rem 3rem;
  width: 100%;
  background-color: #f2f2f2;
  min-height: 30vw;
  font-size: 13px;
}

.completed {
  background-color: green;
  color: #fff;
}
