.checkoutForm {
  min-height: 28vw;
  display: flex;
  flex-direction: column;
}

.addressForm {
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .shipping-address {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    color: darkcyan;
  }

  .btn-address {
    color: darkcyan;
    background-color: #fff;
    padding: 0.7rem 1.5rem;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    transition: all 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: darkcyan;
      color: #fff;
    }
    &:active {
      transform: translateY(3px);
    }

    &:disabled {
      background-color: #eeeeee;
    }
  }
}
