<carousel [isAnimated]="true">
  <slide>
    <img
      src="assets/images/image4.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/image2.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/image3.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>

<section>
  <h1 class="featured">Welcome to Skinet Shop</h1>
</section>
