<div class="container">
  <div *ngIf="!(basket$ | async)" style="font-size: 17px">
    There are No Items in Your Basket
  </div>
  <div *ngIf="basket$ | async as basket" class="basket">
    <div class="basket__details">
      <app-basket-summary
        (decrement)="decrementItemQuantity($event)"
        (increment)="incrementItemQuantity($event)"
        (remove)="removeBasketItem($event)"
      ></app-basket-summary>
    </div>

    <div class="basket__summary">
      <app-order-totals></app-order-totals>
    </div>
  </div>
</div>
