@import "../../../styles/base";
.section-header {
  background-color: rgb(238, 248, 255);
  margin-bottom: 1.5rem;
  height: 65px;
  display: flex;
  align-items: center;

  &__core {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 2.5rem;
    font-family: $font-display;
  }
}
