<header
  class="d-flex flex-wrap align-items-center justify-content-between py-1 mb-3 border-bottom fixed-top"
>
  <img
    src="assets/images/logo.jpg"
    style="max-height: 70px"
    alt=""
    [routerLink]="['/']"
    class="logo"
  />

  <ul
    class="nav nav-pills text-uppercase"
    style="font-size: 2.1rem; font-weight: 600"
  >
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/shop" class="nav-link" routerLinkActive="active">Shop</a>
    </li>
    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
  </ul>

  <div class="d-flex align-items-center">
    <a class="cart-link" [routerLink]="['/basket']">
      <i class="fa fa-shopping-cart fa-3x mx-4 text-dark"></i>
      <span class="cart-no" *ngIf="basket$ | async as basket">{{
        basket.items.length
      }}</span>
    </a>

    <ng-container *ngIf="(currentUser$ | async) === null">
      <button
        class="btn btn-outline-secondary mx-2 btn-login"
        routerLink="/account/login"
      >
        Login
      </button>
      <button
        class="btn btn-outline-secondary mx-2 btn-login"
        routerLink="/account/register"
      >
        Signup
      </button>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async as user">
      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle btn-logout"
          aria-controls="dropdown-basic"
        >
          Welcome <strong>{{ user.displayName }}</strong>
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem"><a class="dropdown-item">View Basket</a></li>

          <li role="menuitem">
            <a class="dropdown-item" routerLink="/orders">View Orders</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="logOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</header>
