<header class="d-flex flex-wrap align-items-center justify-content-between py-1 mb-3 border-bottom fixed-top">
<img src="assets/images/logo.png" style="max-height: 70px;" alt="">

  <ul class="nav nav-pills text-uppercase" style="font-size: larger; font-weight: 500;">
    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
  </ul>

  <div class="d-flex align-items-center">
    <a class="cart-link">
      <i class="fa fa-shopping-cart fa-2x mx-4 text-dark"></i>
      <span class="cart-no">11</span>
    </a>

    <button class="btn btn-outline-secondary mx-2">Login</button>
    <button class="btn btn-outline-secondary mx-2">Signup</button>
  </div>
</header>
