// COLOR VARIABLES
$color-primary:  #0d6efd;
$color-primary-dark: #2143a0;

$color-secondary:#033c73;
$color-warn: #c71c22;

$color-grey-light-1: #f9fafb;
$color-grey-light-2: #ddd;

$color-grey-dark: #313250;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark;
  font-weight: 400;
  line-height: 1.6;
}

h5 {
  color: $color-warn;
}

.c-pointer {
  cursor: pointer;
}

.spacer {
  flex: 1;
}
